body {
    background-color: rgba(22, 189, 72, 0.746);
}

.ul,li {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.ref  li{
  list-style-type: none;
}

/* Add a black background color to the top navigation */
.ref {
    background-color: rgba(156, 146, 7, 0.829);
    overflow: auto;
    width:auto;
  }
  
  /* Style the links inside the navigation bar */
  .ref a {
    float: left;
    color: #0a18e9;
    text-align: center;
   /* padding: 10px 10px 10px 10px; */
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .ref a:hover {
    background-color: rgba(23, 41, 209, 0.356);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .ref a.active {
    background-color: #4CAF50;
    color: white;
  }

.ref1 li{
  list-style-type: none;
}

.img {
  border-radius: 70%;
}

.awesome {
    color: red;
}

.caption-wrap {
  width: auto;
}

.caption-wrap p {
  margin-top: 10px;
      width: auto;
}

/* 
 margin-top: 10px;
*/